
a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 1.5em; 
}

h1 {
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 0 10px #f5e23cf3, 0 0 20px #f2e040fc, 0 0 40px #f8e53bf5;
    color: rgb(255, 224, 48);
}

.films-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}